version: "3.8"

services:
  postgres-auth:
    image: postgres:15
    container_name: postgres-auth
    environment:
      POSTGRES_USER: taxi-auth
      POSTGRES_PASSWORD: taxi123
      POSTGRES_DB: taxi_db_auth
    ports:
      - "5432:5432"
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data
    restart: always

  postgres-user:
    image: postgres:15
    container_name: postgres-user
    environment:
      POSTGRES_USER: taxi-user
      POSTGRES_PASSWORD: taxi123
      POSTGRES_DB: taxi_db_user
    ports:
      - "5433:5432"
    volumes:
      - postgres_user_data:/var/lib/postgresql/data
    restart: always

  postgres-rider:
    image: postgres:15
    container_name: postgres-rider
    environment:
      POSTGRES_USER: taxi-rider
      POSTGRES_PASSWORD: taxi123
      POSTGRES_DB: taxi_db_rider
    ports:
      - "5434:5432"
    volumes:
      - postgres_rider_data:/var/lib/postgresql/data
    restart: always

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    restart: always

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
    restart: always

volumes:
  postgres_auth_data:
  postgres_user_data:
  postgres_rider_data: